@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

@import "./styles/colours.css";

#root {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  background-color: #faf5f5;
}

.highlight {
  color: var(--purple);
}

.booklist {
  margin: 10px 50px;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 300px);
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  /* column-gap: 20px; */
  column-gap: 200px;
  row-gap: 100px;
  padding: 20px;
}
