.book-image {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: var(--offWhite);
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
}

.book-title {
  font-size: 1.5rem;
  max-width: 350px;
  font-family: "Inter", sans-serif;
  text-align: left;
  letter-spacing: -0.5px;
  color: var(--darkGrey);
  margin: 0;
}

.book-author {
  font-size: 1rem;
  color: var(--grey);
  margin: 0;
}

.book-genre {
  font-size: 0.7rem;
  transform: uppercase;
  color: var(--white);
  padding: 15px 10px;
  border-radius: 20px;
  background-color: var(--purple);
  color: var(--white);
  width: fit-content;
  padding: 10px 20px;
  font-style: italic;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title-wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.book-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter", sans-serif;
}
